.services-page {
  background-color: var(--bg-medium); 
}

.services-content-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: var(--space-xl) var(--space-md) 5rem var(--space-md); /* 80px */
}

.service-details-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
}