.solutions-section {
  padding: 80px 40px;
  text-align: center;
  background-color: #f0f4f8;
}

.main-heading {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: black;
}

.sub-heading {
  font-size: 1.2rem;
  max-width: 800px;
  margin: 0 auto 50px auto;
  color: #555;
}

.solution-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  color: black;
}

.solution-card {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease; 
  cursor: pointer;
}

.solution-card h3 {
  font-size: 1.5rem;
  margin-top: 0;
}

.solution-card p {
  font-size: 1rem;
  color: #555;
}

.discover-link {
  display: inline-block;
  margin-top: 50px;
  font-weight: bold;
  color: #007bff;
  text-decoration: none;
}

/* Tambahkan gaya ini di Solutions.css */
.solution-icon {
  width: 250px; /* Atur ukuran ikon */
  height: 250px;
  margin-bottom: 15px;
}

.solution-card:hover {
  transform: translateY(-5px); 
}
/* CSS BARU untuk menghilangkan style default link */
.solution-card-link {
  text-decoration: none; /* Hapus garis bawah */
  color: inherit; /* Ambil warna dari .solution-grid */
}

.solution-icon {
  width: 250px; 
  height: 250px;
  margin-bottom: 15px;
  /* Tambahkan ini agar gambar tidak penyok jika ukurannya beda */
  object-fit: contain; 
}

.solution-card:hover {
  transform: translateY(-5px); 
}